doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DayStar Dashboard
  link(rel='stylesheet' href='/css/admindashboard.css')
header
  h1 Welcome to DayStar Dashboard
main
  .sidebar
    h2 DayStar Dashboard
    ul.nav-links
      li
        a(href='/sitterslist') Sitters List
      li
        a(href='/checkedInBabies') Checkedin Babies
      li
        a(href='/checkedOutBabies') Checkedout Babies
      li
        a(href='/dolls-table') Dolls
      li
        a(href='/procurement') Procrement Overview
      li
        a(href='/procurement') General Report
  .content
    //- h1 Dashboard
    .dashboard-cards
      a.card(href='/checkin')
        img(src='/images/aballo.png' alt='Check In Babies')
        h3 Check In Babies
        p Feel at Home
      a.card(href='/checkout-babies')
        img(src='/images/image.png' alt='Check Out Babies')
        h3 Sitters Payment
        p Issue cash 
      a.card(href='/sitterslist')
        img(src='/images/sitter.png' alt='Register Sitter')
        h3 Register Sitter
        p Happy sitters
      a.card(href='/procurement')
        img(src='/images/payments.png' alt='Procurement')
        h3 Procurement
        p All your transactions
footer
  p &copy; 2024 DayStar Daycare. All rights reserved.
