//- //- doctype html
//- //- html(lang='en')
//- //-   head
//- //-     meta(charset='UTF-8')
//- //-     meta(name='viewport', content='width=device-width, initial-scale=1.0')
//- //-     title Baby Check-in
//- //-     link(rel='stylesheet', href='/css/checkin.css')
//- //-   body
//- //-     h1 Check-in Page
//- //-     form(action='/checkin', method='POST')
//- //-       label(for='babyName') Baby Name:
//- //-       input(type='text', name='babyName',)
//- //-       br
//- //-       label(for='babyGender') Gender:
//- //-       select(name='babyGender',)
//- //-         option(value='Male') Male
//- //-         option(value='Female') Female
//- //-       br
//- //-       label(for='babyAge') Age (in months):
//- //-       input(type='number', name='babyAge',)
//- //-       br
//- //-       label(for='babyLocation') Location:
//- //-       input(type='text', name='babyLocation',)
//- //-       br
//- //-       label(for='guardianName') Guardian's Name:
//- //-       input(type='text', name='guardianName',)
//- //-       br
//- //-       label(for='arrivalTime') Arrival Time:
//- //-       input(type='datetime-local', name='arrivalTime')
//- //-       br
//- //-       label(for='parentsNames') Parents' Names:
//- //-       input(type='text', name='parentsNames')
//- //-       br
//- //-       label(for='stayDuration') Stay Duration (in hours):
//- //-       input(type='number', name='stayDuration',)
//- //-       br
//- //-       label(for='sitter') Select Sitter:
//- //-       select(name='sitter',)
//- //-         each sitter in sitters
//- //-           option(value=sitter.name)= sitter.name
//- //-       br
//- //-       button(type='submit') Check-in


//- doctype html
//- html(lang='en')
//-   head
//-     meta(charset='UTF-8')
//-     meta(name='viewport', content='width=device-width, initial-scale=1.0')
//-     title Baby Check-in
//-     link(rel='stylesheet', href='/css/checkin.css')
//-   body
//-     header
//-       h1 Babies Check-in
//-     main
//-       form(action='/checkin', method='POST')
//-         label(for='babyName') Baby Name:
//-         input(type='text', name='babyName',)
//-         br
//-         label(for='babyGender') Gender:
//-         select(name='babyGender',)
//-           option(value='Male') Male
//-           option(value='Female') Female
//-         br
//-         label(for='babyAge') Age (in months):
//-         input(type='number', name='babyAge',)
//-         br
//-         label(for='babyLocation') Location:
//-         input(type='text', name='babyLocation',)
//-         br
//-         label(for='guardianName') Guardian's Name:
//-         input(type='text', name='guardianName',)
//-         br
//-         label(for='arrivalTime') Arrival Time:
//-         input(type='datetime-local', name='arrivalTime')
//-         br
//-         label(for='parentsNames') Parents' Names:
//-         input(type='text', name='parentsNames')
//-         br
//-         label(for='stayDuration') Stay Duration (in hours):
//-         input(type='number', name='stayDuration',)
//-         br
//-         label(for='sitter') Select Sitter:
//-         select(name='sitter',)
//-           each sitter in sitters
//-             option(value=sitter.name)= sitter.name
//-         br
//-         button(type='submit') Check-in
//-     footer
//-       p © 2024 Baby Check-in

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Baby Check-in
    link(rel='stylesheet', href='/css/checkin.css')
  body
    header
      h1 Babies Check-in
    main
      form(action='/checkin', method='POST')
        label(for='babyName') Baby Name:
        input(type='text', name='babyName',)
        br
        label(for='babyGender') Gender:
        select(name='babyGender',)
          option(value='Male') Male
          option(value='Female') Female
        br
        label(for='babyAge') Age (in months):
        input(type='number', name='babyAge',)
        br
        label(for='babyLocation') Location:
        input(type='text', name='babyLocation',)
        br
        label(for='guardianName') Guardian's Name:
        input(type='text', name='guardianName',)
        br
        label(for='arrivalTime') Arrival Time:
        input(type='datetime-local', name='arrivalTime')
        br
        label(for='parentsNames') Parents' Names:
        input(type='text', name='parentsNames')
        br
        label(for='stayDuration') Stay Duration (in hours):
        input(type='number', name='stayDuration',)
        br
        label(for='amount') Amount:
        select(name='amount',)
          option(value='10000') UGX 10,000
          option(value='15000') UGX 15,000
        br
        label(for='sitter') Select Sitter:
        select(name='sitter',)
          each sitter in sitters
            option(value=sitter.firstName + ' ' + sitter.lastName)= sitter.firstName+' '+sitter.lastName
        br
        label(for='babyNumber') Baby Number:
        input(type='text', name='babyNumber',)
        br
        button(type='submit') Check-in
    footer
      p © 2024 Baby Check-in