
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Checkout Baby
    link(rel='stylesheet', href='/css/checkoutForm.css')
  body
    header
      h1 Checkout Baby
    main
      form(action=`/babyCheckout/${baby._id}`, method='POST')
        label(for='checkoutTime') Checkout Time:
        input(type='datetime-local', name='checkoutTime', required)
        br
        label(for='pickupPerson') Pickup Person:
        input(type='text', name='pickupPerson', required)
        br
        label(for='contact') Contact:
        input(type='text', name='contact', required)
        br
        button(type='submit') Checkout
    footer
      p © 2024 Baby Check-in
