doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Clocked Out Babies
  link(rel='stylesheet' href='/css/clockedinlist.css')
.container
  h1 Clocked Out Babies
  table
    thead
      tr
        th Baby&apos;s Name
        th Person Who&apos;s taking the Baby
        th Contact
        th Clock Out Time
    tbody#clockedOutBabies
        if babies.length 
            each baby in babies
                tr 
                    td #{baby.babyName}
                    td #{baby.personName}
                    td #{baby.personContact}
                    td #{baby.clockOutTime}
script(src='/js/clockin.js')
