<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clocked In Babies</title>
    <link rel="stylesheet" href="../public/css/clockedinlist.css">
</head>
<body>
    <div class="container">
        <h1>Clocked In Babies</h1>
        <table>
            <thead>
                <tr>
                    <th>Baby's Name</th>
                    <th>Person Who Brought the Baby</th>
                    <th>Contact</th>
                    <th>Amount paid</th>
                    <th>Clock In Time</th>
                </tr>
            </thead>
            <tbody id="clockedInBabies">
                
            </tbody>
        </table>
    </div>
<script src="../public/js/clockin.js"></script>
</body>
</html>
