doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Daystar Daycare
  body
    header
      include ./search.pug
    // Content block for individual pages
    block content

