<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Overview</title>
    <link rel="stylesheet" href="../public/css/otherexpenses.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Expenses Overview</h1>
        </div>
    </header>
    <a href="../views/othersform.html" class="add-button">Add Expense</a>
    <div class="container">
        <div class="expenses-list">
            <table class="expenses-table">
                <thead>
                    <tr>
                        <th>Name of item</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Form data will be populated dynamically here -->
                </tbody>
            </table>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Daystar Daycare. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
