doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Procurement Overview
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/procurements.css')
header
  h1 Daycare Expenditures
  nav
    ul
      li
        a(href='./sittersexpenses.htm') Sitters Exp
      li
        a(href='./otherexpenses.html') Other Exp
      li
        a(href='#') Logout
main
  section.dashboard
    .container
      .row
        .col-md-6
          .card
            img.card-img-top(src='../public/images/sitterexp.png' alt='Sitters Exp')
            .card-body
              h5.card-title Sitters
              p.card-text Check sitters expenditures
              a.btn.btn-primary(href='./sittersexpenses.htm') Go to sitters Exp
        .col-md-6
          .card
            img.card-img-top(src='../public/images/otherexp.png' alt='Other Exp')
            .card-body
              h5.card-title Others
              p.card-text View other expenditures
              a.btn.btn-primary(href='./otherexpenses.html') Go to other Exp
footer
  p DayStar Daycare &copy; 2024
