doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sell Doll
    link(rel='stylesheet', href='/css/selldoll.css') 
  body
    header
      h1 Sell Doll
    main
      form(action=`/sell/${doll._id}`, method='POST')
        label(for='buyerName') Buyer Name:
        input(type='text', name='buyerName')
        label(for='salePrice') Sale Price:
        input(type='number', name='salePrice', value=doll.price, readonly)
        button(type='submit') Sell
