:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --header-color: #470a21;
    --background-color: #fbd1da;
    --main-color: #d32b60;
    }
header{
    background-color: var(--header-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}    
#availableDolls {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#availableDolls caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

#availableDolls th, #availableDolls td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#availableDolls th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#availableDolls tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#availableDolls tbody tr:hover {
    background-color: #ddd;
}

#availableDolls tbody td:last-child {
    text-align: center;
}

.sell-button {
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.sell-button:hover {
    background-color: #45a049;
}
