/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(../images/background.png);
  }
  
  .container {
    max-width: 900px; /* Increased width of the container */
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Align items with space between them */
  }
  
  .container table {
    width: 100%; /* Set table width to 100% */
    border-collapse: collapse;
    max-width: 500px;
    margin-bottom: 20px;
  }

  h1{
    color: #ccc;
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table th, table td {
    border: 1px solid #ccc;
    padding: 8px; /* Reduced padding for table cells */
    text-align: left;
    font-size: 14px; /* Reduced font size within tables */
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  /* Style nav buttons */
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav ul li a:hover {
    background-color: #0056b3;
  }
  
  footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center;
    padding: 10px 0; 
    background-color: #333; 
    color: #fff; 
  }
  

  