:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #6ccff6;
    --header-color:#2C4E80;
}

/* procurementlist.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tbody tr:hover {
    background-color: #ddd;
  }
  